data "template_file" "json-234567890123-ap-south-1" {
  count    = "${contains("${var.region_list}", "ap-south-1") ? 1 : 0}"
  template = "${file("gd-member-create-invite.json")}"

  vars {
    member_id          = "234567890123"
    root_email         = "poc002@example.com"
    master_detector_id = "${data.terraform_remote_state.master.master-ap-south-1.0}"
    region             = "aps1"
  }
}

data "template_file" "json-234567890123-eu-west-3" {
  count    = "${contains("${var.region_list}", "eu-west-3") ? 1 : 0}"
  template = "${file("gd-member-create-invite.json")}"

  vars {
    member_id          = "234567890123"
    root_email         = "poc002@example.com"
    master_detector_id = "${data.terraform_remote_state.master.master-eu-west-3.0}"
    region             = "euw3"
  }
}

data "template_file" "json-234567890123-eu-west-2" {
  count    = "${contains("${var.region_list}", "eu-west-2") ? 1 : 0}"
  template = "${file("gd-member-create-invite.json")}"

  vars {
    member_id          = "234567890123"
    root_email         = "poc002@example.com"
    master_detector_id = "${data.terraform_remote_state.master.master-eu-west-2.0}"
    region             = "euw2"
  }
}

data "template_file" "json-234567890123-eu-west-1" {
  count    = "${contains("${var.region_list}", "eu-west-1") ? 1 : 0}"
  template = "${file("gd-member-create-invite.json")}"

  vars {
    member_id          = "234567890123"
    root_email         = "poc002@example.com"
    master_detector_id = "${data.terraform_remote_state.master.master-eu-west-1.0}"
    region             = "euw1"
  }
}

data "template_file" "json-234567890123-ap-northeast-2" {
  count    = "${contains("${var.region_list}", "ap-northeast-2") ? 1 : 0}"
  template = "${file("gd-member-create-invite.json")}"

  vars {
    member_id          = "234567890123"
    root_email         = "poc002@example.com"
    master_detector_id = "${data.terraform_remote_state.master.master-ap-northeast-2.0}"
    region             = "apne2"
  }
}

data "template_file" "json-234567890123-ap-northeast-1" {
  count    = "${contains("${var.region_list}", "ap-northeast-1") ? 1 : 0}"
  template = "${file("gd-member-create-invite.json")}"

  vars {
    member_id          = "234567890123"
    root_email         = "poc002@example.com"
    master_detector_id = "${data.terraform_remote_state.master.master-ap-northeast-1.0}"
    region             = "apne1"
  }
}

data "template_file" "json-234567890123-sa-east-1" {
  count    = "${contains("${var.region_list}", "sa-east-1") ? 1 : 0}"
  template = "${file("gd-member-create-invite.json")}"

  vars {
    member_id          = "234567890123"
    root_email         = "poc002@example.com"
    master_detector_id = "${data.terraform_remote_state.master.master-sa-east-1.0}"
    region             = "sae1"
  }
}

data "template_file" "json-234567890123-ca-central-1" {
  count    = "${contains("${var.region_list}", "ca-central-1") ? 1 : 0}"
  template = "${file("gd-member-create-invite.json")}"

  vars {
    member_id          = "234567890123"
    root_email         = "poc002@example.com"
    master_detector_id = "${data.terraform_remote_state.master.master-ca-central-1.0}"
    region             = "cac1"
  }
}

data "template_file" "json-234567890123-ap-southeast-1" {
  count    = "${contains("${var.region_list}", "ap-southeast-1") ? 1 : 0}"
  template = "${file("gd-member-create-invite.json")}"

  vars {
    member_id          = "234567890123"
    root_email         = "poc002@example.com"
    master_detector_id = "${data.terraform_remote_state.master.master-ap-southeast-1.0}"
    region             = "apse1"
  }
}

data "template_file" "json-234567890123-ap-southeast-2" {
  count    = "${contains("${var.region_list}", "ap-southeast-2") ? 1 : 0}"
  template = "${file("gd-member-create-invite.json")}"

  vars {
    member_id          = "234567890123"
    root_email         = "poc002@example.com"
    master_detector_id = "${data.terraform_remote_state.master.master-ap-southeast-2.0}"
    region             = "apse2"
  }
}

data "template_file" "json-234567890123-eu-central-1" {
  count    = "${contains("${var.region_list}", "eu-central-1") ? 1 : 0}"
  template = "${file("gd-member-create-invite.json")}"

  vars {
    member_id          = "234567890123"
    root_email         = "poc002@example.com"
    master_detector_id = "${data.terraform_remote_state.master.master-eu-central-1.0}"
    region             = "euc1"
  }
}

data "template_file" "json-234567890123-us-east-1" {
  count    = "${contains("${var.region_list}", "us-east-1") ? 1 : 0}"
  template = "${file("gd-member-create-invite.json")}"

  vars {
    member_id          = "234567890123"
    root_email         = "poc002@example.com"
    master_detector_id = "${data.terraform_remote_state.master.master-us-east-1.0}"
    region             = "use1"
  }
}

data "template_file" "json-234567890123-us-east-2" {
  count    = "${contains("${var.region_list}", "us-east-2") ? 1 : 0}"
  template = "${file("gd-member-create-invite.json")}"

  vars {
    member_id          = "234567890123"
    root_email         = "poc002@example.com"
    master_detector_id = "${data.terraform_remote_state.master.master-us-east-2.0}"
    region             = "use2"
  }
}

data "template_file" "json-234567890123-us-west-1" {
  count    = "${contains("${var.region_list}", "us-west-1") ? 1 : 0}"
  template = "${file("gd-member-create-invite.json")}"

  vars {
    member_id          = "234567890123"
    root_email         = "poc002@example.com"
    master_detector_id = "${data.terraform_remote_state.master.master-us-west-1.0}"
    region             = "usw1"
  }
}

data "template_file" "json-234567890123-us-west-2" {
  count    = "${contains("${var.region_list}", "us-west-2") ? 1 : 0}"
  template = "${file("gd-member-create-invite.json")}"

  vars {
    member_id          = "234567890123"
    root_email         = "poc002@example.com"
    master_detector_id = "${data.terraform_remote_state.master.master-us-west-2.0}"
    region             = "usw2"
  }
}

resource "aws_cloudformation_stack" "234567890123-ap-south-1" {
  count    = "${contains("${var.region_list}", "ap-south-1") ? 1 : 0}"
  name     = "gd-member-aps1-234567890123"
  provider = "aws.master-ap-south-1"

  on_failure = "ROLLBACK"

  template_body = "${data.template_file.json-234567890123-ap-south-1.rendered}"
}

resource "aws_cloudformation_stack" "234567890123-eu-west-3" {
  count    = "${contains("${var.region_list}", "eu-west-3") ? 1 : 0}"
  name     = "gd-member-euw3-234567890123"
  provider = "aws.master-eu-west-3"

  on_failure = "ROLLBACK"

  template_body = "${data.template_file.json-234567890123-eu-west-3.rendered}"
}

resource "aws_cloudformation_stack" "234567890123-eu-west-2" {
  count    = "${contains("${var.region_list}", "eu-west-2") ? 1 : 0}"
  name     = "gd-member-euw2-234567890123"
  provider = "aws.master-eu-west-2"

  on_failure = "ROLLBACK"

  template_body = "${data.template_file.json-234567890123-eu-west-2.rendered}"
}

resource "aws_cloudformation_stack" "234567890123-eu-west-1" {
  count    = "${contains("${var.region_list}", "eu-west-1") ? 1 : 0}"
  name     = "gd-member-euw1-234567890123"
  provider = "aws.master-eu-west-1"

  on_failure = "ROLLBACK"

  template_body = "${data.template_file.json-234567890123-eu-west-1.rendered}"
}

resource "aws_cloudformation_stack" "234567890123-ap-northeast-2" {
  count    = "${contains("${var.region_list}", "ap-northeast-2") ? 1 : 0}"
  name     = "gd-member-apne2-234567890123"
  provider = "aws.master-ap-northeast-2"

  on_failure = "ROLLBACK"

  template_body = "${data.template_file.json-234567890123-ap-northeast-2.rendered}"
}

resource "aws_cloudformation_stack" "234567890123-ap-northeast-1" {
  count    = "${contains("${var.region_list}", "ap-northeast-1") ? 1 : 0}"
  name     = "gd-member-apne1-234567890123"
  provider = "aws.master-ap-northeast-1"

  on_failure = "ROLLBACK"

  template_body = "${data.template_file.json-234567890123-ap-northeast-1.rendered}"
}

resource "aws_cloudformation_stack" "234567890123-sa-east-1" {
  count    = "${contains("${var.region_list}", "sa-east-1") ? 1 : 0}"
  name     = "gd-member-sae1-234567890123"
  provider = "aws.master-sa-east-1"

  on_failure = "ROLLBACK"

  template_body = "${data.template_file.json-234567890123-sa-east-1.rendered}"
}

resource "aws_cloudformation_stack" "234567890123-ca-central-1" {
  count    = "${contains("${var.region_list}", "ca-central-1") ? 1 : 0}"
  name     = "gd-member-cac1-234567890123"
  provider = "aws.master-ca-central-1"

  on_failure = "ROLLBACK"

  template_body = "${data.template_file.json-234567890123-ca-central-1.rendered}"
}

resource "aws_cloudformation_stack" "234567890123-ap-southeast-1" {
  count    = "${contains("${var.region_list}", "ap-southeast-1") ? 1 : 0}"
  name     = "gd-member-apse1-234567890123"
  provider = "aws.master-ap-southeast-1"

  on_failure = "ROLLBACK"

  template_body = "${data.template_file.json-234567890123-ap-southeast-1.rendered}"
}

resource "aws_cloudformation_stack" "234567890123-ap-southeast-2" {
  count    = "${contains("${var.region_list}", "ap-southeast-2") ? 1 : 0}"
  name     = "gd-member-apse2-234567890123"
  provider = "aws.master-ap-southeast-2"

  on_failure = "ROLLBACK"

  template_body = "${data.template_file.json-234567890123-ap-southeast-2.rendered}"
}

resource "aws_cloudformation_stack" "234567890123-eu-central-1" {
  count    = "${contains("${var.region_list}", "eu-central-1") ? 1 : 0}"
  name     = "gd-member-euc1-234567890123"
  provider = "aws.master-eu-central-1"

  on_failure = "ROLLBACK"

  template_body = "${data.template_file.json-234567890123-eu-central-1.rendered}"
}

resource "aws_cloudformation_stack" "234567890123-us-east-1" {
  count    = "${contains("${var.region_list}", "us-east-1") ? 1 : 0}"
  name     = "gd-member-use1-234567890123"
  provider = "aws.master-us-east-1"

  on_failure = "ROLLBACK"

  template_body = "${data.template_file.json-234567890123-us-east-1.rendered}"
}

resource "aws_cloudformation_stack" "234567890123-us-east-2" {
  count    = "${contains("${var.region_list}", "us-east-2") ? 1 : 0}"
  name     = "gd-member-use2-234567890123"
  provider = "aws.master-us-east-2"

  on_failure = "ROLLBACK"

  template_body = "${data.template_file.json-234567890123-us-east-2.rendered}"
}

resource "aws_cloudformation_stack" "234567890123-us-west-1" {
  count    = "${contains("${var.region_list}", "us-west-1") ? 1 : 0}"
  name     = "gd-member-usw1-234567890123"
  provider = "aws.master-us-west-1"

  on_failure = "ROLLBACK"

  template_body = "${data.template_file.json-234567890123-us-west-1.rendered}"
}

resource "aws_cloudformation_stack" "234567890123-us-west-2" {
  count    = "${contains("${var.region_list}", "us-west-2") ? 1 : 0}"
  name     = "gd-member-usw2-234567890123"
  provider = "aws.master-us-west-2"

  on_failure = "ROLLBACK"

  template_body = "${data.template_file.json-234567890123-us-west-2.rendered}"
}
